.leftcontent
  .leftcontent__leftheader
    .leftcontent__leftheader__myuser
      %p.leftcontent__leftheader__myuser__username Username
      %ul.leftcontent__leftheader__myuser__icon
        %li 
          = link_to "/", class:"icon__btn icon__btn--newgroup" do
            = icon('far', 'edit', class: "icon__btn--newgroup")
        %li
          = link_to "/", class:"icon__btn icon__btn--editaccount" do
            = icon('fas', 'cogs', class: "icon__btn--editaccount")
  .leftcontent__leftmain
    .leftcontent__leftmain__groups
      .leftcontent__leftmain__groups__group
        %p.leftcontent__leftmain__groups__group__group-name Hoge
        %p.leftcontent__leftmain__groups__group__lastest-message hugahuga